<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Facturación - Iniciar Sesión</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">

</head>
<body>
    <!-- Barra superior -->
    <header class="navbar">
        <h1 class="logo">FACTURYN</h1>
        <div class="nav-buttons">
         <a class="btn-secundario" href="{{ url_for('auth.registro') }}">Regístrate</a>
         <a class="btn-principal" href="{{ url_for('auth.login') }}">Ingresar</a>
        </div>

    </header>

    <!-- Contenedor principal -->
    <main class="main-container">
        <div class="image-container">
            <img src="{{ url_for('static', filename='img/imagen_full_hd.jpg') }}">
        </div>

        <div class="form-container">
            <h2>Bienvenido</h2>
            <div class="tab">
                <button class="active">Iniciar sesión</button>
                <button onclick="window.location.href='{{ url_for('auth.registro') }}'">Registrarse</button>
            </div>

            <form action="{{ url_for('auth.login') }}" method="POST">
                <label for="correo">Correo electrónico</label>
                <input type="email" id="correo" name="correo" required>

                <label for="contrasena">Contraseña</label>
                <input type="password" id="contrasena" name="contrasena" required>

                <button type="submit" class="btn-principal ancho">Iniciar sesión</button>
            </form>

        </div>
    </main>
</body>
</html>
